html {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
}

body {
  background-color: #F5F5F5
}

h1, h2, h3, p{
  margin: 0;
  padding: 0
}

.sub-heading {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 40px 0;
}

.sub-sub-heading {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.about-section, .price-list-section, .shop-section, .wedding-section, .faq-section {
  min-height: 90vh;

}

.contact-section {
  min-height: 85vh;
  position: relative;
}

.two-columner {
  min-height: 400px;
}
