html {
  background-color: #FFFAF0;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, p{
  margin: 0;
  padding: 0
}

.nav-bar-spacer {
  width: 100%;
  height: 68px;
}

.nav-bar {
  background-color: #FFFAF0;
  overflow: hidden;
  padding-left: 50px;
  position: fixed;
  width: 100%;
}

.nav-brand {
  padding: 14px 0;
  display: inline-block;
  font-size: 25px;
}

.nav-brand  a {
  color: black;
}

.nav-brand a:hover {
  text-decoration: none;
}

.nav-items {
  float: right;
  display: inline-block;
  padding: 20px 16px;
  font-size: 20px;
}

.nav-items a {
    color: black;
    text-align: center;
    margin-right: 30px;
}

.nav-items a:hover {
  text-decoration: underline;
}

.active {
    text-decoration: underline;
}

/* Hide the link that should open and close the topnav on small screens */
#nav-icon {
    display: none;
}

.landing-page{

  /* waiting for image & Set back color */
  height: 90vh;
}

.landing-page .heading {
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.anchor_offset {
  display: block;
  position: relative;
  top: -68px;
  visibility: hidden; }

.about-section, .price-list-page, .delivery-page, .wedding-page, .faq-page {
  height: 100vh;
}

.contact-page {
  height: 95vh;
}

.footer {
  background-color: #FFFAF0;
  overflow: hidden;
  width: 100%;
  height: 5vh;
  text-align: center;
}

.footer .footer-content {
  padding: 0 20px;
  letter-spacing: 2px;
}
