html {
  background-color: #F5F5F5;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, p{
  margin: 0;
  padding: 0
}

/* =============== */
/* Header & Footer */
/* =============== */

.nav-bar-spacer {
  width: 100%;
  height: 68px;
  background-color: red;
}

.nav-bar {
  background-color: #F5F5F5;
  overflow: hidden;
  padding-left: 50px;
  position: fixed;
  width: 100%;
}

.nav-brand {
  padding: 14px 0;
  display: inline-block;
  font-size: 25px;
}

.nav-brand  a {
  color: black;
}

.nav-brand a:hover {
  text-decoration: none;
}

.nav-items {
  float: right;
  display: inline-block;
  padding: 20px 16px;
  font-size: 20px;
}

.nav-items a {
    color: black;
    text-align: center;
    margin-right: 30px;
}

.nav-items a:hover {
  text-decoration: underline;
}

.active {
    text-decoration: underline;
}

#nav-icon {
    display: none;
}

.landing-page{
  height: 90vh;
}

.heading {
  letter-spacing: 3px;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1170px) {
  .heading {
    font-size: 8em;
  }
}

@media screen and (max-width: 990px) {
  .heading {
    font-size: 6em;
  }
}

a.anchor_offset {
  display: block;
  position: relative;
  top: -68px;
  visibility: hidden; }

.about-section, .price-list-page, .shop-page, .wedding-page, .faq-page {
  height: 100vh;
}

.contact-page {
  height: 85vh;
  background-color: pink;
}

.footer {
  background-color: #F5F5F5;
  height: 40px;
  width: 100%;
  text-align: center;
}

.footer-content {
  padding: 14px 10px;
  display: inline-block;
  letter-spacing: 2px;
}

/* =============== */
/* =============== */
